<div>
  <%# train %>
  <div class="mt-1 px-20 py-5 bg-black border-t border-t-white">
    <div class="flex flex-col gap-2">
      <span class="text-white font-semibold text-[36px]">Shop</span>
      <p class="text-white text-[18px]">Revamp your style with the latest designer trends in men’s<br> clothing or achieve a perfectly curated wardrobe thanks to<br/> our line-up of timeless pieces. </p>
    </div>
  </div>
  <%# train %>

  <%# List @products %>
  <%= form_with url: select_product_path, method: :post, local: true do %>
    <% @products.each do |product| %>
      <div class="bg-gray-100 p-4">
        <%# use radio input to select product %>
        <input type="radio" name="product_id" id="<%= product[:id] %>" value="<%= product[:id] %>">

        <%# Display product name %>
        <label for="<%= product[:id] %>"><%= product[:name] %></label>
      </div>
    <% end %>
    <button type="submit" class="mt-4 p-2 bg-blue-500 text-white">Next</button>
  <% end %>
</div> 
